.floating-contacts {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    bottom: var(--padding-xs);
    right: var(--padding-xs);
    align-items: end;
    z-index: 1;
}

.floating-contacts__content {
    /* padding: var(--padding-s); */
    /* box-shadow: var(--shadow-m); */
    /* background-color: var(--page-background-color-light); */
    /* display: none;
    flex-direction: column;
    gap: var(--gap-xs); */
}

.floating-contacts_is-open .floating-contacts__content {
    /* display: flex; */
}