.gap {
  display: inline-block;
}

.gap_block {
  display: block;
}

.gap_size_xxs {
  height: var(--gap-xxs);
  width: var(--gap-xxs);
}

.gap_size_xs {
  height: var(--gap-xs);
  width: var(--gap-xs);
}

.gap_size_s {
  height: var(--gap-s);
  width: var(--gap-s);
}

.gap_size_m {
  height: var(--gap-m);
  width: var(--gap-m);
}

.gap_size_l {
  height: var(--gap-l);
  width: var(--gap-l);
}

.gap_size_xl {
  height: var(--gap-xl);
  width: var(--gap-xl);
}