
.header__nav-touch,
.header__nav-touch .header__nav-sub {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--gap-s);
}

.header__nav-touch-close {
  position: absolute;
  right: var(--page-padding-inline);
  top: calc((var(--header-height) - var(--control-button-size-m-height)) / 2);
}

.header__nav-touch .header__nav-sub {
    padding: var(--gap-s) 0;
    display: flex;
}




.header__nav-touch a {
  color: var(--text-bright-color);
}


.header__nav-touch-wrapper {
  border: none;
  background-color: var(--page-background-color-light);
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: var(--header-height) var(--gap-s);
  margin-left: auto;
}

.header__nav-touch {
  padding-bottom: var(--gap-m);
  padding-left: 1rem;
}

.header__nav-touch-wrapper::backdrop {
  background-color: var(--backdrop);
}



@media (max-width: 60rem),
(hover: none) and (pointer: coarse) {
  .header__nav-desktop {
    display: none;
    gap: var(--gap-s);
  }

  .header__burger {
    display: block;
  }
}


.header__nav-link {
  font-size: 1.5rem;
}

.header__nav-sub .header__nav-link {
  font-size: 1.2rem;

}

.header__nav-summary:first-of-type {
  list-style-type: '▼';     
  list-style-position: outside; 
  padding-left: 0.75rem;
  margin-left: -0.75rem;  
}

.header__nav-item[open] .header__nav-summary:first-of-type {
  list-style-type: '▲';
}