[data-trigger-header-color-scheme] {
  /* border-top: calc(var(--header-height)) solid transparent; */
  /* margin-top: calc(var(--header-height) * -1); */
}

.header, .header  * {
    --_change-colors-duration: .25s;
  transition:
    background-color,
    fill,
    color;
    transition-duration: var(--_change-colors-duration);
}

.header_initial, .header_initial * {
  transition-duration: unset;
}