.header__nav-desktop {
  display: flex;
  gap: var(--gap-xs);
  height: 100%;
}

.header__nav-desktop .header__nav-sub {
  position: absolute;
  padding: var(--gap-s) 0;
  flex-direction: column;
  gap: var(--gap-xs);
  display: none;
  top: calc(100% + var(--gap-xs));
}

.header__nav-desktop .header__nav-sub .header__nav-item {
  padding-inline: var(--gap-s);
}

.header_background-color_default .header__nav-desktop .header__nav-sub {
  background-color: var(--page-background-color-light-2);
}
.header_background-color_light .header__nav-desktop .header__nav-sub {
  background-color: var(--page-background-color-light-2);
}

.header__nav-desktop .header__nav-item {
  position: relative;
  display: flex;
  align-items: center;
}



.header__nav-desktop .header__nav-sub .header__nav-sub {
  top: calc((var(--padding-s)) * -1);
  left: calc(100% + var(--gap-s) + .25rem);
}

.header__nav-desktop .header__nav-sub::before {
  content: '';
  display: block;
  position: absolute;
  inset: calc((var(--padding-s) + .26rem) * -1);
}

.header__nav-desktop .header__nav-item:hover>.header__nav-sub:not(:empty),
.header__nav-desktop .header__nav-sub:not(:empty):hover,
.header__nav-desktop .header__nav-item:focus-within>.header__nav-sub:not(:empty),
.header__nav-desktop .header__nav-sub:not(:empty):focus-within {
  display: flex;
}


@media (max-width: 60rem),
(hover: none) and (pointer: coarse) {
  .header__nav-desktop {
    display: none;
    gap: var(--gap-s);
  }

  .header__burger {
    display: block;
  }
}

.header__nav-desktop > .header__nav-item_current,
.header__nav-desktop > .header__nav-item:has(.header__nav-item_current) {
    box-shadow: inset 0 -2px 0 0 var(--text-bright-color);
}

.header__nav-desktop .header__nav-sub .header__nav-item_current {
  box-shadow: inset 2px 0 0 var(--text-bright-color);
}
