*:has(> .logo) {
    position: relative;
}
.logo {
    aspect-ratio: 2.867;
    width: 100%;
    max-height: 100%;
}

.logo__color-scheme-dark,
[data-color-scheme="dark"] .logo__color-scheme-light {
    display: none;
}

[data-color-scheme="dark"] .logo__color-scheme-dark {
    display: block;
}

.logo__m {
    fill: var(--logo-color-1);
}
.logo__aridiz {
    fill: var(--logo-color-2);
}