.page-header {
    --_background-color: var(--page-background-color-light);
    background-color: var(--_background-color);
    margin-inline: calc((100% - 100vw) / 2);
    padding-inline: calc((100vw - 100%) / 2);
    padding-block: var(--gap-m) var(--gap-xs);
    /* margin-top: calc(var(--header-height) * -1); */
    /* border-top: var(--header-height) solid var(--_background-color); */
    display: flex;
    flex-direction: column;
    align-items: start;
}

.page-header_center {
    align-items: center;
}

.page-header__title {
    color: var(--text-bright-color);
    margin-bottom: var(--gap-xs);
    font-size: var(--typo-title-s-font-size);
    line-height: var(--typo-title-s-line-height);
    font-weight: var(--font-weight-title);
}