.radio {
    --_background-color: var(--button-grey-background-color);
    --_label-color: var(--button-grey-label-color);
    background-color: var(--_background-color);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    position: relative;
}

.radio:hover {
    background-color: color-mix(in lch, var(--_background-color) var(--control_hover-mix), var(--_label-color));
}

.radio:active {
    background-color: color-mix(in lch, var(--_background-color) var(--control_active-mix), var(--_label-color));
}

.radio:checked {
    --_background-color: var(--button-contrast-background-color);
    --_label-color: var(--button-contrast-label-color);

    background-repeat: no-repeat;
    background-position: center;
}


.radio:checked::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    background-color: var(--button-contrast-label-color);
    border-radius: 50%;
}