

.time-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--time-label-color);
    font-size: var(--typo-text-s-font-size);
    padding-inline: .75em;
    height: var(--control-height-s);
    background-color: 
 color-mix(in hsl, transparent 88%, currentColor);
}
