.title-l {
    margin-bottom: var(--typo-text-m-line-height);
    margin-top: 2.3em;
    font-size: clamp(1.9rem, 9vw, 2.7rem);
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: var(--font-weight-title);
    max-width: var(--typo-text-block-l-max-width);
    text-wrap: balance;
    color: var(--text-bright-color);
}

.title-l:has(+ .text-m),
.title-l:has(+ .text-s) {
    /* max-width: var(--typo-text-block-max-width); */
}
 
.title-l:first-child {
    margin-top: 0;
}

.title-l:last-child {
    margin-bottom: 0;
} 

.title-l_center {
    text-align: center;
}

