.title-m {
    margin-top: 2.2em;
    font-size: clamp(1.5rem, 7vw, 1.9rem);
    letter-spacing: -0.01em;
    line-height: 1.1;
    margin-bottom: calc(var(--typo-text-m-line-height) * 1);
    font-weight: var(--font-weight-title);
    max-width: var(--typo-text-block-l-max-width);
    text-wrap: balance;
    color: var(--text-bright-color);
}

.title-m:has(+ .text-m),
.title-m:has(+ .text-s) {
    max-width: var(--typo-text-block-max-width);
}

.title-m:first-child {
    margin-top: 0;
}

.title-m:last-child {
    margin-bottom: 0;
}

.title-m_center {
    text-align: center;
}