.title-s {
    font-size: clamp(1.2rem, 5.5vw, 1.3rem);
    letter-spacing: -0.005em;
    margin-top: 2.4em;
    line-height: 1.2;
    margin-bottom: calc(var(--typo-text-m-line-height));
    font-weight: var(--font-weight-title);
    max-width: var(--typo-text-block-max-width);
    text-wrap: balance;
    /* display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.5rem; */
    /* margin-inline: var(--margin-inline-text); */
    color: var(--text-bright-color);

}

.title-s:has(+ .text-m),
.title-s:has(+ .text-s) {
    margin-bottom: calc(var(--typo-text-m-line-height) / 2);
}

.title-s+.text-m,
.title-s+.text-s {
    margin-top: calc(var(--typo-text-m-line-height) / 2);
}




.title-s:first-child {
    margin-top: 0;
}

.title-s:last-child {
    margin-bottom: 0;
}

.title-s_center {
    text-align: center;
}